#line-numbers {
    color: #c7c6c6;
    padding: 10px;
    line-height: 1.5;
    white-space: pre;
    overflow: hidden;
    background-color: #3e3e3e;
    border-radius: 0;
  }
  
  #editor {
    flex-grow: 1;
    background-color: #424242;
    padding: 10px;
    line-height: 1.5;
    tab-size: 4;
    overflow: auto;
    outline: none;
    color: #ebe5e5;
    border-radius: 0;
  }
  
  .sql-keyword {
    color: #569cd6;
  }
  
  .codeInput {
    color: #d4d4d4;
    font-family: 'Courier New', monospace;
    display: flex;
    margin: 0;
    overflow: hidden;
  }
  